/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px "skolar-1","skolar-2";
  *font-size: small;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 700;
  font-family: "skolar-1","skolar-2";
}

h1 {
  font-size: 24px;
}

h1 a {
  color: #222;
  text-decoration: none;
}

p {
  margin: 1em 0;
  font-size: 15px;
  color: #333;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

h1 + ul {
  margin-top: 1em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: "skolar-1","skolar-2";
  }

  ul.posts a {
    color: #a00;
    text-decoration: none;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
    font-family: "skolar-1","skolar-2";
    font-style: italic;
  }

  h1 + p.meta {
    margin-top: 0;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

    .site .footer .other-sites {
      float: right;
      text-align: right;
      margin-left: 3em;
    }

      .site .footer .contact a, .site .footer .other-sites a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin: 1.1em 0 0 8em;
      float: left;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

 .more {
   text-align: right;
   text-decoration: none;
   margin-bottom: 2em;
 }

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
    font-family: Monaco, "Courier New", monospace;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
    font-family: Monaco, "Courier New", monospace;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
