/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #fff url("/images/background.png");
  font: 13.34px "skolar-1","skolar-2";
  *font-size: small;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ff-nuvo-web-pro-1", "ff-nuvo-web-pro-2", sans-serif;
  font-size: 100%;
  font-weight: 700;
}

h1 {
  font-size: 24px;
}

h1 a {
  color: #222;
  text-decoration: none;
}

h2 {
  font-size: 19px;
}

p {
  margin: 1em 0;
  font-size: 15px;
  color: #333;
}

a {
  color: #ff1493;
  padding: 2px 3px;
  margin-left: -3px;
  border-radius: 5px;
  text-decoration: none;
}

a:hover {
  color: #9932cc;
  transition: background 0.75s;
  -webkit-transition: background 0.75s;
  -moz-transition: background 0.75s;
  background: #f7f4f9;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

h1 + ul {
  margin-top: 1em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
  }

  ul.posts span.detail {
    display: inline-block;
    width: 8em;
    color: #777;
    font-style: italic;
    font-size: 12px;
  }

  ul.posts a {
    text-decoration: none;
  }

  ul.posts a.decorated:before {
    padding: 0 3px;
    content: "»";
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.7em;
}

.title {
  color: #9932cc;
  font-weight: 700;
  margin-bottom: 2em;
}

  .site .title a {
    color: #9932cc;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta, #post .meta {
    color: #aaa;
    font-style: italic;
    font-size: 90%;
  }

  h1 + p.meta {
    margin-top: 0;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer a {
      color: #444;
      text-decoration: none;
      font-size: 12px;
    }

    .site .footer a:hover {
      color: #000;
    }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

    .site .footer .other-sites {
      float: right;
      text-align: right;
      margin-left: 3em;
    }

    .site .footer .rss {
      margin: 2em 0 0 0;
      text-align: center;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  #post p, #post ul {
    font-size: 16px;
    color: #333;
  }

  #post ul {
    padding: 2em 0 2em 2em;
  }

  #post p + p {
    margin-top: 2.5em;
  }

  p + p.more {
    margin-top: -1em;
  }

  p + h1, p + h2, p + h3 {
    margin-top: 2.5em;
  }

  #post p.meta + p {
    margin-top: 1.5em;
  }

 .more {
   text-align: right;
   text-decoration: none;
   margin-bottom: 2em;
 }

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    padding: 0 .4em;
  }

  #post code {
    border: 1px solid #ddd;
    font-size: 95%;
    padding: 0 .2em;
    font-family: "Courier New", monospace;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
    font-family: Monaco, "Courier New", monospace;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
