---
layout: default
title: Luke Randall
---

<div id="home">

  {% for post in site.posts limit:1 %}
    {{ post.content }}
  {% endfor %}

  <div class="contact-insert">
    Got something to say about what you've read?
    <br>
    Get hold of me &mdash; <a href="http://twitter.com/luke_randall" target="_blank">@luke_randall</a> / <a href="mailto:luke.randall@gmail.com">luke.randall@gmail.com</a>
  </div>

  <h1>All Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span class="detail">{{ post.date | date_to_string }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
