<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Luke Randall" />
   <link href="http://feeds.feedburner.com/lukerandall" rel="alternate" title="Luke Randall" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
  <script type="text/javascript" src="http://use.typekit.com/hin0tat.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
    if (navigator.appVersion.indexOf("Win")!=-1) {
      document.write('<link rel="stylesheet" href="/css/windows.css" media="screen, projection" /' + '>');
    };
  </script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Luke Randall</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
      <a href="http://lukerandall.github.com/">lukerandall.github.com</a><br />
      <a href="mailto:luke.randall@gmail.com">luke.randall@gmail.com</a>
      </p>
    </div>
    <div class="other-sites">
      <p>
        <a href="http://github.com/lukerandall/">github.com/lukerandall</a><br />
        <a href="http://twitter.com/luke_randall/">twitter.com/luke_randall</a>
      </p>
    </div>
    <div class="rss">
      <a href="/atom.xml">
      <img src="/images/rss.png" alt="Subscribe to Feed" />
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6761899-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>
